<template class="section-template">
    <section id="dashboard" class="wrapper style1">
        <section id="processes">
            <h2>List of Processes</h2>

        </section>
    </section>
    <script>
        const processSection = document.getElementById('processes');
        const {remote} = require('electron');
        const mainProcess = remote.require('./main.js');
        mainProcess.getProcesses().then(function (processes) {
            processes.forEach(function (p) {
                let div = document.createElement('div');
                div.innerHTML = `<ul class="list-group"><li>Image Name:` + p.imageName +`</li><li>Window Title: ` + p.windowTitle + `</li></ul>`;
                processSection.appendChild(div);
            });
        });
    </script>
</template>
